<!doctype html>
<html>
    <head>
        <title>Trouble City</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    </head>
    <body>
        <header>
	<div id="messages"></div>
        <div id="head-wrapper">
                <img src="/img/marker-icon-2x.png" />
                <div id="banner">
                    <a href="/"><h1>Trouble city</h1></a>
                 </div>
                 <div id="controll">
                     <div id="sign-in">
                       <a href="#!/register">Register</a>
                     </div>
                     <div id="login">
                         <a href="#!/login">Sign up</a>
                     </div>
                 </div>
            </div>
        </header>
         <%- body -%>
        <footer></footer>
    </body>
    <script src="/js/libs/require/require.js" data-main="/js/main"></script>
</html>
