*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    background: url('/img/bg.png');
    overflow-y: scroll;
    min-height: 100%;
}

header {
    height: 60px;
    background: #1B7B97;    
    color: #fff;
    line-height: 60px;
    margin-bottom: 1px;
    box-shadow: 0 0 10px #000;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

#head-wrapper img{
    width: 20px;
    margin-top: 10px;
    -webkit-transform: rotate(45deg);
}

#head-wrapper {
    width: 960px;
    margin: 0 auto;
}

#head-wrapper h1 {
    font-size: 25px;
    line-height: 60px;
}

#container {
    background: #fff;
    border-radius: 5px;
    height: 300px;
    box-shadow: 0 0 8px #f6f6f6;
    margin-bottom: 20px;
}

#content{
    padding-bottom: 30px;
    clear: both;
}

#container #map{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

#signup div{
    margin-bottom: 20px;
    text-align: center;
}

#signup input{
    font-size: 16px;
    color: #333;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 35px;
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
    width: 310px;
}

#signup input[type="submit"]{
    width: 100px;
    background: #1B7B97;
    color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signup input[type=submit]:hover{
    background: #1e89a8;
}

#social{
    text-align: center;
    margin-bottom: 20px;
    float: left;
}

#social div{
    display: block;
    cursor: pointer;
    width: 80px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#facebook{
    background: #6D84B4;
    color: #fff;
    height: 20px;
    font-weight: bold;
    padding: 5px;
    display: block;
}

#twitter{
    background: #009ede;
    color: #fff;
    height: 20px;
    font-weight: bold;
    padding: 5px;
}

#banner{
    float: left;:
}

#controll{
    float: right;
}

#controll div{
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#controll a{ 
    color: #fff;
    text-decoration: none; 
}

#controll #sign-in{
    float: left;
}

#controll #login{
    float: right;
}

#sign-in ul{
    position: absolute;
    z-index: 500;
    background: #fff;
    color: #666;
    -webkit-transition: opacity 0.5s ease;
    box-shadow: 0 0 5px #ccc;
    display: none;
    border-radius: 5px;
    margin-top: 10px;
}

#sign-in:hover ul{
    display: block;
}

ul li{
    list-style: none;
    line-height: 30px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus{
    box-shadow: 0 0 2px #ccc inset;
}

#posts {
  width: 960px;
  margin: 0 auto;
}

.post{
    margin: 15px;
    width: 280px;
    display: inline-block;
    background: #fff;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
}

.post div{
    margin: 15px;
}

#preloader{
    text-align: center;
}

footer{
    width: 100%;
    height: 30px;
    margin-bottom: -30px;
    background: #1B7B97;
    clear: both;
    position: absolute;
    bottom: 0;
}

.map-ctrl{
    height: 40px;
    width: 960px;
    margin: 0 auto;
    position: relative;
    margin-top: -45px;
}

.map-ctrl input[type=text]{
    border: none;
    line-height: 40px;
    height: 35px;
    outline: none;
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    color: #666;
    font-size: 17px;
    float: right;
    border-radius: 0 5px 5px 0px;
    background: #f6f6f6;
    -webkit-transition: background 0.5s ease;
}

.map-ctrl input[type=text]{
    background: #fff;
}

.map-ctrl input[type=submit]{
    width: 80px;
    margin-right: -1px;
    z-index: 500;
    background: #1B7B97;
    color: #fff;
    height: 35px;
    border: 1px none;
    float: right;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.register input[type=text], input[type=password]{
    border: none;
    line-height: 40px;
    height: 35px;
    outline: none;
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    color: #666;
    font-size: 17px;
    display: block;
    border-radius: 5px;
    background: #f6f6f6;
    -webkit-transition: background 0.5s ease;
    background: #fff;
    border: 1px solid #ddd;
}

.login input[type=text], input[type=password]{
    border: none;
    line-height: 40px;
    height: 35px;
    outline: none;
    width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    color: #666;
    font-size: 17px;
    display: block;
    border-radius: 5px;
    -webkit-transition: background 0.5s ease;
    background: #fff;
    border: 1px solid #ddd;
}

.login{
	margin: 0 auto;
}

.login input[type=submit]{
    width: 80px;
    margin-right: 38px;
    z-index: 500;
    background: #1B7B97;
    color: #fff;
    height: 35px;
    border: 1px none;
    border-radius: 5px;
    cursor: pointer;
}

.register input[type=submit]{
    width: 80px;
    margin-right: 38px;
    z-index: 500;
    background: #1B7B97;
    color: #fff;
    height: 35px;
    border: 1px none;
    border-radius: 5px;
    cursor: pointer;
}




.username{
    color: #176d86;
}

.post-detail {
    background: #fff;
    border-radius: 8px;
}

.login,.register{
    width: 640px;
    background: url('/img/bg.png');
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 70px;
    height: 200px;
    padding-top: 20px;
    z-index: 500;
    text-align: center;
    padding-bottom: 40px;
}

.register {
    height: 300px
}

.login .form {
    text-align: left;
    float: left;
    width: 400px;
}

.register .form {
    text-align: left;
    float: left;
    width: 400px;
}

.register .form div{
    text-align: center;
    margin-bottom: 10px;
}

.login .form div{
    text-align: center;
    margin-bottom: 10px;
}

.login-container,.register-container{
    margin: 20px;
}

#content>#map{
    top: -5px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -500;
}

.login h2{
    color: #1c82a0;
    padding-bottom: 20px;
    text-align: left;
    font-weight: normal;
}

.register h2{
    color: #1c82a0;
    padding-bottom: 20px;
    text-align: left;
    font-weight: normal;
}

#massages{
    background: #000;
    min-height: 30px;
    width: 100%;
    border-radius: 5px;
    position: absolute;
}

#messages .message-item{
    position: absolute;
    z-index: 500;
    background:   #FFBABA;
    color: #fff;
    width: 90%;
    border-radius: 5px;
    line-height: 30px;
    font-size: 13px;
    box-shadow: 0 0 5px #444;
    text-align: left;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-top: 77px;
    margin-left: 50px;
}

#profile{
    width: 250px;
    height: 400px;
    border-radius: 8px;
    background: url('/img/bg.png');
    margin-top: 5px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    margin-left: 5px;
}

#dashboard-right{
    right: 0;
    position: absolute;
}

#dashboard-posts{
    right: 0;
    width: 250px;
    height: 300px;
    border-radius: 8px;
    background: url('/img/bg.png');
    margin-top: 5px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

#dashboard-messages{
    right: 0;
    width: 250px;
    height: 200px;
    border-radius: 8px;
    background: url('/img/bg.png');
    margin-top: 5px;
    box-shadow: 0 0 10px #000;
}

#profile h3{
    top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#profile h3 a{
     color: #1B7B97;
     font-weight: bold;
     font-size: 15px;
     text-decoration: none;
}

#profile h3 a:hover{
    text-decoration: underline;
}


#profile h3{
    top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#profile h3 a{
     color: #1B7B97;
     font-weight: bold;
     font-size: 15px;
     text-decoration: none;
}

#dashboard-right h3 a:hover{
    text-decoration: underline;
}

#dashboard-right h3{
    top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#dashboard-right h3 a{
     color: #1B7B97;
     font-weight: bold;
     font-size: 15px;
     text-decoration: none;
}

#dashboard-right h3 a:hover{
    text-decoration: underline;
}