<div id="map"></div>
<div class="login">
  <div class="login-container">
    <h2>Login</h2>
    <div class="form">
      <div><input type="text" name="username" placeholder="Username" id="username"></div>
      <div><input type="password" name="password" placeholder="Password" id="password"></div>
      <div><input type="submit" class="submit" value="login"></div>
    </div>
    <div id="social">
     <div id="facebook" class="fb-auth">
       <a href="facebook_login">Facebook</a>
     </div>
     <div id="twitter" class="tw-auth">
       Twitter
     </div>
   </div>
 </div>
</div>
