<div id="map"></div>
<div class="register">
  <div class="register-container">
    <h2>Register</h2>
    <div class="form">
      <div><input type="text" name="username" id="re-username" placeholder="Username"></div>
      <div><input type="text" name="email" id="re-email" placeholder="Email"></div>
      <div><input type="password" name="re-password" placeholder="Password" id="re-password"></div>
      <div><input type="password" name="re-confirm-password" id="confirm-password" placeholder="Confirm password"></div>
      <div><input type="submit" value="Register" id="register"></div>
    </div>
    <div id="social">
     <div id="facebook" class="fb-register">
      Facebook
    </div>
    <div id="twitter" class="tw-register">
      Twitter
    </div>
  </div>
  </div>
</div>
